.about {
  display: grid;
  grid-template-rows: 390px 1fr;
  gap: 10px;
  padding: 0 0 21px;
  color: $text-basic;

  @media #{$tablet-width} {
    grid-template-columns: 450px minmax(270px, 1fr) 48px;
    grid-template-rows: auto;
    gap: 0;
    min-height: 662px;
    padding: 38px 0 41px;
  }

  @media #{$desktop-width} {
    grid-template-columns: 650px minmax(600px, 805px) 170px;
    gap: 10px;
    min-height: unset;
    padding: 0 0 78px;
  }

  @media (width >= 2520px) {
    grid-template-columns: 1fr 1200px 1fr;
  }
}

.about::before {
  content: "";
  width: 100%;
  height: 390px;
  background-image:
    image-set(url("../../img/about/about-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/about/about-mobile@2x.webp") type("image/webp") 2x,
    url("../../img/about/about-mobile@1x.jpg") type("image/jpeg") 1x,
    url("../../img/about/about-mobile@2x.jpg") type("image/jpeg") 2x);
  background-position: top 20px left;
  background-repeat: no-repeat;
  overflow: hidden;

  @media #{$tablet-width} {
    width: 450px;
    height: 100%;
    background-image:
      image-set(url("../../img/about/about-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/about/about-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/about/about-tablet@1x.jpg") type("image/jpeg") 1x,
      url("../../img/about/about-tablet@2x.jpg") type("image/jpeg") 2x);
    background-position: top 135px left;
    overflow: hidden;
  }

  @media #{$desktop-width} {
    content: "";
    width: 650px;
    height: 100%;
    background-image:
      image-set(url("../../img/about/about-desktop@1x.webp") type("image/webp") 1x,
      url("../../img/about/about-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/about/about-desktop@1x.jpg") type("image/jpeg") 1x,
      url("../../img/about/about-desktop@2x.jpg") type("image/jpeg") 2x);
    background-position: top 101px left;
  }
}

.about__wrapper {
  padding: 20px $mobile-side 0;

  @media #{$tablet-width} {
    margin: auto 0;
    padding: 0;
  }

  @media #{$desktop-width} {
    min-height: 517px;
    padding: 102px 0 0;
  }
}

.about__wysiwyg {
  max-width: 500px;

  @media #{$tablet-only} {
    justify-self: center;
    max-width: 550px;
  }

  @media #{$desktop-width} {
    max-width: 805px;
  }
}

.about__wysiwyg h2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 0 28px;
  padding: 17px 0 14px;
  font-weight: 800;
  font-size: 22px;
  line-height: 1;

  @media #{$tablet-width} {
    margin: 0 0 38px;
    padding: 20px 0 10px;
    font-size: 25px;
  }

  @media #{$desktop-width} {
    margin: 0 0 44px;
    padding: 44px 0 15px;
    font-size: 35px;
  }
}

.about__wysiwyg h2::before {
  position: absolute;
  left: 0;
  top: 3px;
  margin: 0;
  width: calc(26px / 22px * 100%);
  font-weight: 800;
  font-size: 26px;
  line-height: 1;
  color: $text-basic;
  opacity: 0.03;
  content: attr(data-shadow);

  @media #{$tablet-width} {
    top: 10px;
    width: calc(40px / 25px * 100%);
    font-size: 40px;
    line-height: 30px;
  }

  @media #{$desktop-width} {
    top: 13px;
    width: calc(55px / 35px * 100%);
    font-size: 55px;
    line-height: 40px;
  }
}

.about__wysiwyg div:not(:last-child) {
  margin-bottom: 27px;

  @media #{$tablet-width} {
    margin-bottom: 29px;
  }
}

.about__wysiwyg h3 {
  margin: 0 0 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;

  @media #{$tablet-width} {
    margin: 0 0 11px;
    font-size: 18px;
  }

  @media #{$desktop-width} {
    margin: 0 0 16px;
    font-size: 21px;
  }
}

.about__wysiwyg p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media #{$tablet-width} {
    font-size: 16px;
    line-height: 24px;
  }

  @media #{$desktop-width} {
    font-size: 14px;
    line-height: 22px;
  }
}

.about__wysiwyg p + p {
  margin-top: 10px;
}
