.logo-image {
  display: block;
  transition: opacity 0.3s;
  max-width: 400px;
  height: 42px;

  &:focus-visible {
    opacity: 0.5;
    outline: none;
  }

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo-image--main-page {
  &:focus-visible,
  &:hover,
  &:active {
    opacity: 1;
  }
}

.logo-image__image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
