.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-right: 0;
}

.page__scroll-lock {
  overflow: hidden;
}

.page__centerer {
  box-sizing: border-box;
  max-width: $max-content-width;
  margin: auto;
}

.page__clouds-with-mountains {
  background-image:
    image-set(url("../../img/clouds/clouds-with-mountains-mobile@1x.webp") type("image/webp") 1x,
    url("../../img/clouds/clouds-with-mountains-mobile@2x.webp") type("image/webp") 2x,
    url("../../img/clouds/clouds-with-mountains-mobile@1x.jpg") type("image/jpeg") 1x,
    url("../../img/clouds/clouds-with-mountains-mobile@2x.jpg") type("image/jpeg") 2x);
  background-repeat: no-repeat;
  background-position: top 10px right -11px;

  @media #{$tablet-width} {
    background-image:
      image-set(url("../../img/clouds/clouds-with-mountains-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/clouds/clouds-with-mountains-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/clouds/clouds-with-mountains-tablet@1x.jpg") type("image/jpeg") 1x,
      url("../../img/clouds/clouds-with-mountains-tablet@2x.jpg") type("image/jpeg") 2x);
    background-position: top -92px right -29px;
  }

  @media #{$desktop-width} {
    background-image:
      image-set(url("../../img/clouds/clouds-with-mountains-desktop@1x.webp") type("image/webp") 1x,
      url("../../img/clouds/clouds-with-mountains-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/clouds/clouds-with-mountains-desktop@1x.jpg") type("image/jpeg") 1x,
      url("../../img/clouds/clouds-with-mountains-desktop@2x.jpg") type("image/jpeg") 2x);
    background-position: top -126px left calc(50% + 1142px);
  }

  @media (width >= 4342px) {
    background-position: top -126px right;
  }
}

.page__one-cloud {
  @media #{$tablet-width} {
    background-image:
      image-set(url("../../img/clouds/one-cloud@1x.webp") type("image/webp") 1x,
      url("../../img/clouds/one-cloud@2x.webp") type("image/webp") 2x,
      url("../../img/clouds/one-cloud@1x.jpg") type("image/jpeg") 1x,
      url("../../img/clouds/one-cloud@2x.jpg") type("image/jpeg") 2x);
    background-repeat: no-repeat;
    background-position: bottom 181px left calc(50% + 338px);
  }

  @media #{$desktop-width} {
    background-position: bottom -2px left calc(50% + 505px);
  }
}

.page__group-of-clouds {
  @media #{$tablet-width} {
    background-image:
      image-set(url("../../img/clouds/group-of-clouds-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/clouds/group-of-clouds-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/clouds/group-of-clouds-tablet@1x.jpg") type("image/jpeg") 1x,
      url("../../img/clouds/group-of-clouds-tablet@2x.jpg") type("image/jpeg") 2x);
    background-position: bottom 103px left 50%;
    background-repeat: no-repeat;
  }

  @media #{$desktop-width} {
    background-image:
      image-set(url("../../img/clouds/group-of-clouds-desktop@1x.webp") type("image/webp") 1x,
      url("../../img/clouds/group-of-clouds-desktop@2x.webp") type("image/webp") 2x,
      url("../../img/clouds/group-of-clouds-desktop@1x.jpg") type("image/jpeg") 1x,
      url("../../img/clouds/group-of-clouds-desktop@2x.jpg") type("image/jpeg") 2x);
    background-position: top 319px left calc(50% + 13px);
  }
}
